@font-face {
  font-family: JetBrainsMono-Regular;
  src: url(../css/fonts/JetBrainsMono-Regular.ttf);
}

@font-face {
  font-family: lemon;
  src: url(../css/fonts/lemon_milk/LEMONMILK-Bold.otf);
}

@font-face {
  font-family: AzerLight;
  src: url(../css/fonts/ar/AzerLight.ttf);
}

@font-face {
  font-family: AzerMedium;
  src: url(../css/fonts/ar/AzerMedium.ttf);
}

@font-face {
  font-family: HacenLinerXL;
  src: url(../css/fonts/ar/test/HacenLinerXL.ttf);
}

@font-face {
  font-family: noorehiraRegular;
  src: url(../css/fonts/ar/test/noorehiraRegular.ttf);
}

@font-face {
  font-family: roboR;
  src: url(../css/fonts/RobotoCondensed-Regular.ttf);
}

@font-face {
  font-family: roboB;
  src: url(../css/fonts/RobotoCondensed-Bold.ttf);
}

@-webkit-keyframes pulsate {
  0% {
    -webkit-transform: scale(0.8, 0.8);
    transform: scale(0.8, 0.8);
    opacity: 0.0;
  }
  50% {
    opacity: 1.0;
  }
  100% {
    -webkit-transform: scale(1.1, 1.1);
    transform: scale(1.1, 1.1);
    opacity: 0.0;
  }
}

@keyframes pulsate {
  0% {
    -webkit-transform: scale(0.6, 0.6);
    transform: scale(0.6, 0.6);
    opacity: 0.0;
  }
  50% {
    opacity: 1.0;
  }
  100% {
    -webkit-transform: scale(1, 1);
    transform: scale(1, 1);
    opacity: 0.0;
  }
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  background-color: #60BDB2;
  font-size: 0.625rem   ;
  font-family: JetBrainsMono-Regular;
  padding: 0.625rem   ;
  color: #2c3b44;
}

body a {
  color: #2c3b44;
  text-decoration: none;
}

body img {
  max-width: 100%;
}

body ul {
  list-style: none;
}

body pre {
  font-family: JetBrainsMono-Regular;
}

/* @include mq-mn(560px){
    header ,section ,footer{
        max-width: 525px;
        margin: 0 auto;
    }
} */
/* ============

    HEADER START

   =========== */
nav {
  -webkit-transition: height 550ms ease-in-out;
  transition: height 550ms ease-in-out;
  padding: 0.625rem   ;
  margin-bottom: 0.625rem   ;
  background-color: #B6DDDA;
  -webkit-box-shadow: 0 0 0.625rem    0.0625rem    #B6DDDA;
          box-shadow: 0 0 0.625rem    0.0625rem    #B6DDDA;
}

nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

nav ul li:first-of-type {
  margin-left: 0;
}

nav ul li a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 0.625rem   ;
}

/* ============

    HEADER END

   =========== */
/* ============

    INTRO START

   =========== */
.intro {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0.625rem   ;
  background-color: #B6DDDA;
  -webkit-box-shadow: 0 0 0.625rem    0.0625rem    #B6DDDA;
          box-shadow: 0 0 0.625rem    0.0625rem    #B6DDDA;
  margin-bottom: 0.625rem   ;
  text-align: center;
}

.intro h1 {
  font-family: lemon;
  color: rgba(0, 0, 0, 0.6);
  text-shadow: 2px 8px 6px rgba(0, 0, 0, 0.2), 0px -5px 35px rgba(255, 255, 255, 0.3);
  font-size: 3.75rem   ;
  margin-bottom: 0.9375rem   ;
}

.intro h1 span {
  font-size: 3.125rem   ;
  position: relative;
  top: -0.1875rem   ;
}

.intro p {
  margin-bottom: 3.75rem   ;
  font-size: 1.25rem   ;
  font-family: roboB;
  font-weight: bold;
}

.intro .download a {
  display: block;
  background-color: #60BDB2;
  margin-bottom: 1.875rem   ;
  padding: 0.25rem   ;
}

.intro .element_con {
  margin-top: 50px;
  margin-bottom: 30px;
}

.intro .element_con span .fa-check-circle-o {
  color: green;
}

/* ============

    INTRO END

   =========== */
/* ============

    DOC START

   =========== */
.doc {
  margin-top: 4.375rem   ;
  position: relative;
}

.doc > h1 {
  position: absolute;
  background-color: #60BDB2;
  -webkit-box-shadow: 2px 8px 6px rgba(0, 0, 0, 0.2), 0px -5px 35px rgba(255, 255, 255, 0.3);
          box-shadow: 2px 8px 6px rgba(0, 0, 0, 0.2), 0px -5px 35px rgba(255, 255, 255, 0.3);
  border: 1px solid #60BDB2;
  padding: 0.25rem 0rem  ;
  top: -3.5rem   ;
  left: 1.25rem   ;
  width: 12.5rem   ;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  line-height: 1.5;
}

.doc > h1::after {
  content: "\f0d7";
  font-family: FontAwesome;
  display: block;
  color: #60BDB2;
  margin-left: 0.3125rem   ;
  position: absolute;
  bottom: -0.75rem   ;
  left: 46%;
  -webkit-transform: translatex(-50%);
          transform: translatex(-50%);
}

.doc > h1 .fa {
  display: block;
  margin-top: 0.125rem   ;
  margin-left: 0.3125rem   ;
}

.doc .px_tp_rem, .doc .dir_sen, .doc .direction, .doc .float, .doc .dir_attr, .doc .fx, .doc .units, .doc .fx_units, .doc .install, .doc .about {
  padding: 0.625rem   ;
  background-color: #B6DDDA;
  -webkit-box-shadow: 0 0 0.625rem    0.0625rem    #B6DDDA;
          box-shadow: 0 0 0.625rem    0.0625rem    #B6DDDA;
  margin-bottom: 0.625rem   ;
  position: relative;
}

.doc .px_tp_rem h1, .doc .dir_sen h1, .doc .direction h1, .doc .float h1, .doc .dir_attr h1, .doc .fx h1, .doc .units h1, .doc .fx_units h1, .doc .install h1, .doc .about h1 {
  position: absolute;
  background-color: #B6DDDA;
  border: 1px solid #60BDB2;
  padding: 0.25rem 0rem  ;
  top: -17px;
  left: 20px;
  width: 12.5rem   ;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  line-height: 1.5;
}

.doc .px_tp_rem h1::after, .doc .dir_sen h1::after, .doc .direction h1::after, .doc .float h1::after, .doc .dir_attr h1::after, .doc .fx h1::after, .doc .units h1::after, .doc .fx_units h1::after, .doc .install h1::after, .doc .about h1::after {
  content: "\f0d7";
  font-family: FontAwesome;
  display: block;
  color: #60BDB2;
  margin-left: 0.3125rem   ;
  position: absolute;
  bottom: -0.75rem   ;
  left: 46%;
  -webkit-transform: translatex(-50%);
          transform: translatex(-50%);
}

.doc .px_tp_rem .wraper, .doc .dir_sen .wraper, .doc .direction .wraper, .doc .float .wraper, .doc .dir_attr .wraper, .doc .fx .wraper, .doc .units .wraper, .doc .fx_units .wraper, .doc .install .wraper, .doc .about .wraper {
  overflow: hidden;
  margin: 1.25rem 0rem  ;
}

.doc .px_tp_rem .wraper > p:first-of-type, .doc .dir_sen .wraper > p:first-of-type, .doc .direction .wraper > p:first-of-type, .doc .float .wraper > p:first-of-type, .doc .dir_attr .wraper > p:first-of-type, .doc .fx .wraper > p:first-of-type, .doc .units .wraper > p:first-of-type, .doc .fx_units .wraper > p:first-of-type, .doc .install .wraper > p:first-of-type, .doc .about .wraper > p:first-of-type {
  margin-bottom: 0.625rem   ;
}

.doc .px_tp_rem .wraper .sass_input_con, .doc .dir_sen .wraper .sass_input_con, .doc .direction .wraper .sass_input_con, .doc .float .wraper .sass_input_con, .doc .dir_attr .wraper .sass_input_con, .doc .fx .wraper .sass_input_con, .doc .units .wraper .sass_input_con, .doc .fx_units .wraper .sass_input_con, .doc .install .wraper .sass_input_con, .doc .about .wraper .sass_input_con {
  margin-bottom: 0.5rem   ;
}

.doc .px_tp_rem .wraper .sass_input_con > p:not(:first-of-type), .doc .dir_sen .wraper .sass_input_con > p:not(:first-of-type), .doc .direction .wraper .sass_input_con > p:not(:first-of-type), .doc .float .wraper .sass_input_con > p:not(:first-of-type), .doc .dir_attr .wraper .sass_input_con > p:not(:first-of-type), .doc .fx .wraper .sass_input_con > p:not(:first-of-type), .doc .units .wraper .sass_input_con > p:not(:first-of-type), .doc .fx_units .wraper .sass_input_con > p:not(:first-of-type), .doc .install .wraper .sass_input_con > p:not(:first-of-type), .doc .about .wraper .sass_input_con > p:not(:first-of-type) {
  margin-left: 0.3125rem   ;
  padding-left: 0.3125rem   ;
  border-left: 1px dotted #60BDB2;
}

.doc .px_tp_rem .wraper .sass_input_con .sass_input, .doc .dir_sen .wraper .sass_input_con .sass_input, .doc .direction .wraper .sass_input_con .sass_input, .doc .float .wraper .sass_input_con .sass_input, .doc .dir_attr .wraper .sass_input_con .sass_input, .doc .fx .wraper .sass_input_con .sass_input, .doc .units .wraper .sass_input_con .sass_input, .doc .fx_units .wraper .sass_input_con .sass_input, .doc .install .wraper .sass_input_con .sass_input, .doc .about .wraper .sass_input_con .sass_input {
  margin-bottom: 0.3125rem   ;
}

.doc .px_tp_rem .wraper .sass_input_con .sass_input::after, .doc .dir_sen .wraper .sass_input_con .sass_input::after, .doc .direction .wraper .sass_input_con .sass_input::after, .doc .float .wraper .sass_input_con .sass_input::after, .doc .dir_attr .wraper .sass_input_con .sass_input::after, .doc .fx .wraper .sass_input_con .sass_input::after, .doc .units .wraper .sass_input_con .sass_input::after, .doc .fx_units .wraper .sass_input_con .sass_input::after, .doc .install .wraper .sass_input_con .sass_input::after, .doc .about .wraper .sass_input_con .sass_input::after {
  content: "\f090";
  color: #B64866;
  font-family: FontAwesome;
  display: inline-block;
  margin-left: 0.3125rem   ;
}

.doc .px_tp_rem .wraper .css_output_con, .doc .dir_sen .wraper .css_output_con, .doc .direction .wraper .css_output_con, .doc .float .wraper .css_output_con, .doc .dir_attr .wraper .css_output_con, .doc .fx .wraper .css_output_con, .doc .units .wraper .css_output_con, .doc .fx_units .wraper .css_output_con, .doc .install .wraper .css_output_con, .doc .about .wraper .css_output_con {
  margin-bottom: 0.5rem   ;
}

.doc .px_tp_rem .wraper .css_output_con > p:not(:first-of-type), .doc .dir_sen .wraper .css_output_con > p:not(:first-of-type), .doc .direction .wraper .css_output_con > p:not(:first-of-type), .doc .float .wraper .css_output_con > p:not(:first-of-type), .doc .dir_attr .wraper .css_output_con > p:not(:first-of-type), .doc .fx .wraper .css_output_con > p:not(:first-of-type), .doc .units .wraper .css_output_con > p:not(:first-of-type), .doc .fx_units .wraper .css_output_con > p:not(:first-of-type), .doc .install .wraper .css_output_con > p:not(:first-of-type), .doc .about .wraper .css_output_con > p:not(:first-of-type) {
  margin-left: 0.3125rem   ;
  padding-left: 0.3125rem   ;
  border-left: 1px dotted #60BDB2;
}

.doc .px_tp_rem .wraper .css_output_con .css_output, .doc .dir_sen .wraper .css_output_con .css_output, .doc .direction .wraper .css_output_con .css_output, .doc .float .wraper .css_output_con .css_output, .doc .dir_attr .wraper .css_output_con .css_output, .doc .fx .wraper .css_output_con .css_output, .doc .units .wraper .css_output_con .css_output, .doc .fx_units .wraper .css_output_con .css_output, .doc .install .wraper .css_output_con .css_output, .doc .about .wraper .css_output_con .css_output {
  margin-bottom: 0.3125rem   ;
}

.doc .px_tp_rem .wraper .css_output_con .css_output::after, .doc .dir_sen .wraper .css_output_con .css_output::after, .doc .direction .wraper .css_output_con .css_output::after, .doc .float .wraper .css_output_con .css_output::after, .doc .dir_attr .wraper .css_output_con .css_output::after, .doc .fx .wraper .css_output_con .css_output::after, .doc .units .wraper .css_output_con .css_output::after, .doc .fx_units .wraper .css_output_con .css_output::after, .doc .install .wraper .css_output_con .css_output::after, .doc .about .wraper .css_output_con .css_output::after {
  content: "\f08b";
  color: #668360;
  font-family: FontAwesome;
  display: inline-block;
  margin-left: 0.3125rem   ;
}

.doc .px_tp_rem .wraper pre, .doc .dir_sen .wraper pre, .doc .direction .wraper pre, .doc .float .wraper pre, .doc .dir_attr .wraper pre, .doc .fx .wraper pre, .doc .units .wraper pre, .doc .fx_units .wraper pre, .doc .install .wraper pre, .doc .about .wraper pre {
  white-space: pre-line;
  margin-left: 0.3125rem   ;
  padding-left: 0.3125rem   ;
  border-left: 1px dotted #60BDB2;
}

.doc .install {
  margin-top: 3.75rem   ;
}

.doc .install h1 {
  background-color: #60BDB2;
  -webkit-box-shadow: 2px 8px 6px rgba(0, 0, 0, 0.2), 0px -5px 35px rgba(255, 255, 255, 0.3);
          box-shadow: 2px 8px 6px rgba(0, 0, 0, 0.2), 0px -5px 35px rgba(255, 255, 255, 0.3);
}

.doc .install h1 .fa {
  display: block;
  margin-top: 0.125rem   ;
  margin-left: 0.3125rem   ;
}

.doc .install p:not(:first-of-type) {
  margin-bottom: 0.625rem   ;
}

.doc .about {
  position: relative;
  text-align: center;
  margin-top: 6.25rem   ;
  padding-top: 2.5rem   ;
}

.doc .about h1 {
  background-color: #60BDB2;
  -webkit-box-shadow: 2px 8px 6px rgba(0, 0, 0, 0.2), 0px -5px 35px rgba(255, 255, 255, 0.3);
          box-shadow: 2px 8px 6px rgba(0, 0, 0, 0.2), 0px -5px 35px rgba(255, 255, 255, 0.3);
}

.doc .about h1 .fa {
  display: block;
  margin-top: 0.125rem   ;
  margin-left: 0.3125rem   ;
}

.doc .about .con {
  position: relative;
  width: 6.25rem   ;
  border-radius: 50%;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.doc .about .con .imag_con {
  width: 100%;
  overflow: hidden;
  border-radius: 50%;
}

.doc .about .con .imag_con img {
  -o-object-fit: cover;
     object-fit: cover;
}

.doc .about .con::before {
  content: "";
  border-radius: 50%;
  width: 90%;
  height: 90%;
  border: 16px solid rgba(128, 128, 128, 0.459);
  display: block;
  position: absolute;
  top: -0.75rem   ;
  left: -0.6875rem   ;
  z-index: -1;
  -webkit-animation: pulsate 3s ease-out;
  animation: pulsate 4s ease-out;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}

.doc .about .con p:not(:first-of-type) {
  margin-bottom: 0.625rem   ;
}

.doc .about .wraper p:first-of-type {
  font-family: noorehiraRegular;
  font-size: 2.5rem   ;
}

.doc .about .wraper p:last-of-type {
  font-family: lemon;
  font-size: 0.9375rem   ;
  margin-bottom: 0.5rem   ;
}

.doc .about .wraper .fa {
  font-size: 1.25rem   ;
  margin-bottom: 0.1875rem   ;
}

/* ============

    DOC END

   =========== */
/* ============

    MEDIA QUERY START

   =========== */
@media (min-width: 560px) {
  body {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 6.25rem    1fr;
        grid-template-columns: 6.25rem    1fr;
    gap: 10px;
        grid-template-areas: "header intro" "doc    doc  ";
  }
  body header {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
    grid-area: header;
  }
  body header nav {
    height: 100%;
  }
  body header nav ul {
    height: 100%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  body .intro {
    -ms-grid-row: 1;
    -ms-grid-column: 2;
    grid-area: intro;
    height: 100%;
  }
  body .intro .download a {
    max-width: 27.6875rem   ;
    margin: 0 auto;
    margin-bottom: 1.875rem   ;
  }
  body .doc {
    -ms-grid-row: 2;
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-area: doc;
  }
}

@media (min-width: 750px) {
  .doc {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
    -webkit-column-gap: 0.625rem   ;
            column-gap: 0.625rem   ;
  }
  .doc > h1 {
    left: 50%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
  }
  .doc .px_tp_rem h1, .doc .dir_sen h1, .doc .direction h1, .doc .float h1, .doc .dir_attr h1, .doc .fx h1, .doc .units h1, .doc .fx_units h1, .doc .install h1, .doc .about h1 {
    left: 50%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
  }
  .doc .install {
    grid-column: span 2;
    text-align: center;
  }
  .doc .about {
    grid-column: span 2;
  }
}

@media (min-width: 1000px) {
  .doc {
    -ms-grid-columns: (1fr)[3];
        grid-template-columns: repeat(3, 1fr);
    -ms-grid-rows: (1fr)[3];
        grid-template-rows: repeat(3, 1fr);
  }
  .doc .install {
    grid-column: span 1;
    text-align: center;
    margin-top: 0;
  }
  .doc .about {
    grid-column: span 1;
    margin-top: 0;
  }
}

/* ============

    MEDIA QUERY END

   =========== */
/*# sourceMappingURL=style.css.map */